<%- include("parts/header.ejs") %>
<div class="containter" style="padding-top: 4cm; padding-left: 5cm; color:teal;">
    <h2 class="display-2"><em> My chat</em></h2>
</div>
<div  class="row"  style=" padding-left: 5cm;">
    <div class="col-md-6">
        <h2 class="h4">Write your message</h2>
        <div class="input-group mb-3 " style="padding-right: 2cm;">
            <input class="form-control" style="height: 2cm;" placeholder="Message">
            <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button" >Send</button>
            </div>    
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="h3">Messages</h3>
    </div>
</div>
<%- include("parts/footer.ejs" ) %>