<footer class="mastfoot mt-auto">
        <div class="inner bg-dark" style=" margin-top:4cm; height: 2cm; text-align: center; " >
          <h2 class="h2"  style="color:white;">Messenger.</h2>
        </div> 
      </footer>

</body>
</html>
